body{
  background-color: #FFF8F3;
}
*{
  margin: 0;
  padding: 0;
  font-family: Roboto,Arial;
}
header{
  background-image: url('asset/Banner\ Image.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 660px;
  
  
}

.banner-title{
  color: #FFFFFF;
  text-align: center;
  font-size: 35px;
  padding-top: 150px;
  font-family: 'Courier New', Courier, monospace;
}
.banner-sub-title{
  margin-top: 5px;
  text-align: center;
  color: #FFFFFF;
  font-size: 60px;
  font-family: Roboto,Arial;
 
}
.discount{
  text-align: center;
  margin-top: 50px;
}
.discount-tittle{
  font-size: 60px;
  color: rgb(216, 63, 63);
  margin-bottom: 25px;
  margin-top: 30px;
}
.discount-sub-tittle{
  font-size: 18px;
  color: rgb(216, 63, 63) ;
  margin-top: 0;
}
.discount-heading{
  font-size: 35px;
  margin-bottom: 30px;
}



/* year picture */
.party{
  background-image: url('asset/Vectorrr.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 660px;
}
.party-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 60px;
  gap: 200px;
}
.party-intro{
 padding-top: 80px;
}
.party-tittle{
  color: #FFFFFF;
  font-size: 60px;
  
}
.party-discription{
  width: 480px;
  padding-left: 10px;
  color: rgb(237, 221, 221);
  margin-top: 50px;
}
.party-button{
  margin-top: 50px;
  margin-left: 50px;
  padding: 10px 10px 10px 10px;
  font-family: Roboto,arial;
  color: #FFFFFF;
  border: none;
  font-weight: 600;
  font-size: 20px;
  background: none;
}
.place{
  text-align: center;
  background-color: #FFF8F3;
  height: 450px;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 70px;
}
.place >h3{
  font-size: 30px;
  line-height: 50px;
}
.place >h3 > span{
  color: rgb(214, 29, 29);
}
.place button{
  padding: 10px;
  width: 120px;
  color: #FFFFFF;
  background-color: rgb(214, 29, 29) ;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* offer style */

.new-best-offer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 450px;

  
  
}
.coming-soon{
  /* height: 500px; */
  text-align: left;
  padding-top: 30px;
  margin-left: 150px;
  
 
  
}
.offer-title{
  color: rgb(214, 29, 29) ;
  font-size: 18px;
 

}
.offer-info{
  margin-top: 10px;
  font-size: 45px;
  margin-bottom: 15px;
}
.offer-description{
  color: rgb(101, 96, 96);
}
.circle-pic{
  width: 250px;
  border: 10px solid  rgb(214, 29, 29) ;
  border-radius: 150px;
  padding: 20px;
  align-items: center;
}
.year{
  text-align: left;
  width: 600px;
  padding-top: 50px;
  
}

.year-date{
  font-size: 40px;
  color: rgb(214, 29, 29) ;
  margin-bottom: 20px;
}
.year-pic{
  margin-top: 20px;
}
.sale{
 text-align: center;
}
.holiday{
  color:  rgb(214, 29, 29) ;
  font-size: 60px;
  
}
.sale-target{
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.intro{
 color: gray;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  
}
.pic img{
  margin-top: 400px;
}
.pic2 img{
  height: 500px;
 margin-left: -1250px;
 margin-bottom: 0;
}
.pic3 img{
  margin-left: -429px;
  margin-bottom:261px;
}
/* gift side */

.gift-info{
  text-align: left;
  margin: 50px 150px 50px 190px;
  
}
.gift-tittle{
  font-size: 20px;
  color:rgb(214, 29, 29) ;
  margin-bottom: 8px;
}
.gift-portfolio{
  font-size: 30px;
  margin-bottom: 5px;
}